<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

	<script type="text/html" id="user_information">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Your user information:</h3>
					</div>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<b>Name</b>
								</td>
								<td>
									<span class="glyphicon glyphicon-forward"></span>
								</td>
								<td>
									<%= name %>
								</td>
							</tr>
							<tr>
								<td>
									<b>Username</b>
								</td>
								<td>
									<span class="glyphicon glyphicon-forward"></span>
								</td>
								<td>
									<%= username %>
								</td>
							</tr>
							<tr>
								<td>
									<b>User-Id</b>
								</td>
								<td>
									<span class="glyphicon glyphicon-forward"></span>
								</td>
								<td>
									<%= user_id %>
								</td>
							</tr>
							<tr>
								<td>
									<b>Group-Name</b>
								</td>
								<td>
									<span class="glyphicon glyphicon-forward"></span>
								</td>
								<td>
									<%= group_name %>
								</td>
							</tr>
							<tr>
								<td>
									<b>Group-Id</b>
								</td>
								<td>
									<span class="glyphicon glyphicon-forward"></span>
								</td>
								<td>
									<%= group_id %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</script>

	<!-- Include the script -->
	<script type="text/javascript" src="js/userInformation.js"></script>

</html>
